body {
  background-color: #000;
}

img {
  display: block;
  width: 100%;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #ed8a19;
}

.page-item {
  cursor: pointer;
}

.user-section {
  padding: 2rem;
  border-radius: 0.5rem;
}

.welcome-text {
  color: #fff;
  text-align: center;
}

.user-info-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e2e0e0;
}

.user-bio {
  max-width: 35rem;
  text-align: justify;
}

.avatar {
  max-width: 15rem;
}

.repo-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
  gap: 1.5rem;
}

.repo {
  color: #efeded;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.repo-desc {
  text-align: justify;
}

.tag {
  background-color: #151821;
  padding: 8px 24px;
  border-radius: 10%;
  cursor: pointer;
  color: #467fc8;
}

.repo-stat {
  display: flex;
  gap: 4px;
}

.repo-stat img {
  max-width: 1.2rem;
  filter: invert(52%) sepia(94%) saturate(746%) hue-rotate(353deg)
    brightness(98%) contrast(89%);
}

input[type="text"] {
  background-image: url("./assets/icons/search.svg");
  background-repeat: no-repeat;
  padding: 1rem 3.5rem;
  background-position: 10px 10px;
}

#repoFilter {
  max-width: 60rem;
}

.items-per-page-label {
  color: #fff;
}

#items_per_page {
  max-width: 5rem;
}

.btn-submit {
  background-color: #ed8a19;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #c27318;
}

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.preloader img {
  max-width: 10rem;
}

/*Media queries*/

@media (max-width: 560px) {
  .user-repos {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .repo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .repo-name {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .user-info-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .user-bio {
    text-align: center;
    margin-top: 5px;
  }
}
